 .main{
  background-color: darkgray;
  text-align: center;
}
.main-head{
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  color:rgb(255,255, 255);
  font-weight: 600;
  text-align: center;
}
.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.card{
  width: 350px;
  height: 500px;
  margin: 0 20px;
  overflow: hidden;
  border-radius:10px;
  box-shadow: 5px 5px 5px rgb(159, 157, 157);
}
.card img{
  width:350px;
  height:200px;
}
.card-title{
  font-family: 'Dancing Script', cursive;
  font-weight: 300;
} 
.arrow-btn {
  font-size: 2em;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.arrow{
  box-shadow: 3px 3px 3px rgb(159, 157, 157);
}
.slide-left {
  animation: slideLeft 0.6s ease-in;
}
.slide-right {
  animation: slideRight 0.6s ease-in;
}
@keyframes slideLeft {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.3;
  }
}
@keyframes slideRight {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 0.3;
  }
}